@font-face {
    font-family: "Barlow Condensed";
    src: url("Barlow_Condensed/BarlowCondensed-Thin.ttf");
    font-weight: 100;
    font-style: normal
}

@font-face {
    font-family: "Barlow Condensed";
    src: url("Barlow_Condensed/BarlowCondensed-ThinItalic.ttf");
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: "Barlow Condensed";
    src: url("Barlow_Condensed/BarlowCondensed-ExtraLight.ttf");
    font-weight: 200;
    font-style: normal
}

@font-face {
    font-family: "Barlow Condensed";
    src: url("Barlow_Condensed/BarlowCondensed-ExtraLightItalic.ttf");
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: "Barlow Condensed";
    src: url("Barlow_Condensed/BarlowCondensed-Light.ttf");
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: "Barlow Condensed";
    src: url("Barlow_Condensed/BarlowCondensed-LightItalic.ttf");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Barlow Condensed";
    src: url("Barlow_Condensed/BarlowCondensed-Regular.ttf");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: "Barlow Condensed";
    src: url("Barlow_Condensed/BarlowCondensed-Italic.ttf");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Barlow Condensed";
    src: url("Barlow_Condensed/BarlowCondensed-Medium.ttf");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: "Barlow Condensed";
    src: url("Barlow_Condensed/BarlowCondensed-MediumItalic.ttf");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Barlow Condensed";
    src: url("Barlow_Condensed/BarlowCondensed-SemiBold.ttf");
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: "Barlow Condensed";
    src: url("Barlow_Condensed/BarlowCondensed-SemiBoldItalic.ttf");
    font-weight: 600;
    font-style: italic;
}


@font-face {
    font-family: "Barlow Condensed";
    src: url("Barlow_Condensed/BarlowCondensed-Bold.ttf");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: "Barlow Condensed";
    src: url("Barlow_Condensed/BarlowCondensed-BoldItalic.ttf");
    font-weight: 700;
    font-style: italic;
    font-style: normal
}

@font-face {
    font-family: "Barlow Condensed";
    src: url("Barlow_Condensed/BarlowCondensed-ExtraBold.ttf");
    font-weight: 800;
    font-style: italic;
    font-style: normal
}

@font-face {
    font-family: "Barlow Condensed";
    src: url("Barlow_Condensed/BarlowCondensed-ExtraBoldItalic.ttf");
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: "Barlow Condensed";
    src: url("Barlow_Condensed/BarlowCondensed-Black.ttf");
    font-weight: 900;
    font-style: normal
}

@font-face {
    font-family: "Barlow Condensed";
    src: url("Barlow_Condensed/BarlowCondensed-BlackItalic.ttf");
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: "Barlow";
    src: url("Barlow/Barlow-Thin.ttf");
    font-weight: 100;
    font-style: normal
}

@font-face {
    font-family: "Barlow";
    src: url("Barlow/Barlow-ThinItalic.ttf");
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: "Barlow";
    src: url("Barlow/Barlow-ExtraLight.ttf");
    font-weight: 200;
    font-style: normal
}

@font-face {
    font-family: "Barlow";
    src: url("Barlow/Barlow-ExtraLightItalic.ttf");
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: "Barlow";
    src: url("Barlow/Barlow-Light.ttf");
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: "Barlow";
    src: url("Barlow/Barlow-LightItalic.ttf");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Barlow";
    src: url("Barlow/Barlow-Regular.ttf");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: "Barlow";
    src: url("Barlow/Barlow-Italic.ttf");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Barlow";
    src: url("Barlow/Barlow-Medium.ttf");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: "Barlow";
    src: url("Barlow/Barlow-MediumItalic.ttf");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Barlow";
    src: url("Barlow/Barlow-SemiBold.ttf");
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: "Barlow";
    src: url("Barlow/Barlow-SemiBoldItalic.ttf");
    font-weight: 600;
    font-style: italic;
}


@font-face {
    font-family: "Barlow";
    src: url("Barlow/Barlow-Bold.ttf");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: "Barlow";
    src: url("Barlow/Barlow-BoldItalic.ttf");
    font-weight: 700;
    font-style: italic;
    font-style: normal
}

@font-face {
    font-family: "Barlow";
    src: url("Barlow/Barlow-ExtraBold.ttf");
    font-weight: 800;
    font-style: italic;
    font-style: normal
}

@font-face {
    font-family: "Barlow";
    src: url("Barlow/Barlow-ExtraBoldItalic.ttf");
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: "Barlow";
    src: url("Barlow/Barlow-Black.ttf");
    font-weight: 900;
    font-style: normal
}

@font-face {
    font-family: "Barlow";
    src: url("Barlow/Barlow-BlackItalic.ttf");
    font-weight: 900;
    font-style: italic;
}


body {
    font-family: "Barlow", "Barlow Condensed", Arial, sans-serif
}

th {
    text-align: left;
    font-style: bold
}

img[alt=BIS_Logo] {
    width: 200px
}